<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>EeVe - Ride Into Future</title>
  <meta name="keywords" content="electric bikes, electric bike dealership, electric bike franchisee, two wheeler,
    two wheeler dealership, two wheeler franchisee, dealership, franchisee, business franchise, 2 wheeler dealership, 2 wheeler
    franchisee, two wheeler electric bike dealership, 2 wheeler electric bike dealership, electric bike startup, business ideas,
    business opportunities, business plan, electric bikes in india, electric scooter dealership, electric scooter india, electric
    bike india, electric bike dealership india, electric vehicles, entrepreneur, franchise business, franchise opportunities,
    franchise india, hero scooter, hero scooty, honda bikes, hero bikes, new business ideas, new electric scooter, tvs bikes,
    suzuki bikes, bajaj bikes, vespa scooter, vespa, yamaha scooty." />

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style_new.css" rel="stylesheet">
  <link href="css/angle.css" rel="stylesheet">
  <link rel="stylesheet" href="css/parallax.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <link rel="icon" href="assets/images/logo.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
    <a class="navbar-brand" href="/"><img src="/assets/images2/common/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DEALERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://blog.eeveindia.com">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              PRODUCTS
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="row">
                <div class="col-md-3">
                  <a href="/xeniaa">
                    <img src="/assets/images2/common/wind.png" class="img-fluid" alt="">
                    <h4 class="c-blue ta-center">Xeniaa</h4>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="/4u">
                    <img src="/assets/images2/common/wind.png" class="img-fluid" alt="">
                    <h4 class="c-blue ta-center">4U</h4>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="/wind">
                    <img src="/assets/images2/common/wind.png" class="img-fluid" alt="">
                    <h4 class="c-blue ta-center">Wind</h4>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="/your">
                    <img src="/assets/images2/common/wind.png" class="img-fluid" alt="">
                    <h4 class="c-blue ta-center">your</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item"><a href="#" class="btn-link btn btn-sm c-green-bg">TEST RIDE</a></li>
        <li class="nav-item"><a href="#" class="btn-link btn btn-sm c-green-bg">BOOKING</a></li>
      </ul>
    </div>
  </nav>
  <div id="scroll-animate">
    <div id="scroll-animate-main">
      <div class="wrapper-parallax">
        <header>



          {{{body}}}


          <footer>
            <div class="container footer-content">
              <div class="row">
                <div class="col-lg-4">
                  <p class="sm-para heavy-font c-green">Links</p>
                  <div class="footer-links">
                    <div class="row">
                      <div class="col-md-6"><a href="">
                          <p class="c-blue">About
                          </p>
                        </a>
                        <a href="">
                          <p class="c-blue">Contact
                          </p>
                        </a>
                        <a href="">
                          <p class="c-blue">FAQ
                          </p>
                        </a></div>
                      <div class="col-md-6"><a href="">
                          <p class="c-blue">Privacy Policy</p>
                        </a>
                        <a href="">
                          <p class="c-blue">Press Release</p>
                        </a>
                        <a href="">
                          <p class="c-blue">Blog</p>
                        </a></div>
                    </div>


                  </div>
                </div>
                <div class="col-lg-3">
                  <p class="sm-para heavy-font c-green">Social</p>
                  <div class="row">
                    <div class="col-lg-3 footer-social">
                      <img src="/assets/images2/common/facebook.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-3 footer-social">
                      <img src="/assets/images2/common/instagram.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-3 footer-social">
                      <img src="/assets/images2/common/twitter.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-3 footer-social">
                      <img src="/assets/images2/common/linkedin.png" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <p class="sm-para heavy-font c-green">Subscribe to Newsletter</p>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="Your Email Address"
                      aria-label="Your Email Address" aria-describedby="Your Email Address">
                    <div class="input-group-append">
                      <button class="btn c-green-bg" type="button">Send</button>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <br><br>
                  <p class="ta-center c-green">EeVe India © 2019. All Rights Reserved.</p>
                </div>
              </div>
            </div>
          </footer>
      </div>
    </div>
  </div>

  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 800,
      easing: 'ease',
    });
  </script>
  <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".navbar-fixed-top");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
      });
    });
  </script>

  <script>
    function scrollFooter(scrollY, heightFooter) {
      console.log("ScrollY: ", scrollY);
      console.log("Footer height: ", heightFooter);

      if (scrollY >= heightFooter) {
        $('footer').css({
          'bottom': '0px'
        });
      }
      else {
        $('footer').css({
          //'bottom': '-' + heightFooter + 'px'
          'bottom': '-100vh'
        });
      }
    }

    $(window).load(function () {
      var windowHeight = $(window).height(),
        footerHeight = $('footer').height(),
        heightDocument = (windowHeight) + ($('.content').height()) + ($('footer').height()) - 20;

      // Definindo o tamanho do elemento pra animar
      $('#scroll-animate, #scroll-animate-main').css({
        'height': heightDocument + 'px'
      });

      // Definindo o tamanho dos elementos header e conteúdo
      $('header').css({
        'height': windowHeight + 'px',
        'line-height': windowHeight + 'px'
      });

      $('.wrapper-parallax').css({
        'margin-top': windowHeight + 'px'
      });

      scrollFooter(window.scrollY, footerHeight);

      // ao dar rolagem
      window.onscroll = function () {
        var scroll = window.scrollY;

        $('#scroll-animate-main').css({
          'top': '-' + scroll + 'px'
        });

        $('header').css({
          'background-position-y': 50 - (scroll * 100 / heightDocument) + '%'
        });

        scrollFooter(scroll, footerHeight);
      }
    });
  </script>
</body>

</html>