<div class="body-wrapper">
  <section class="e4u-top full-page">
    <div class="notvisible-phone">
      <img src="/assets/images2/4u/4umain.png" class="img-fluid" data-aos="zoom-in" alt="">
      <h1 class="ta-center c-gold" data-aos="fade-up">EeVe <span class="heavy-font">4U</span> | Convenience on the move.
      </h1>
    </div>
    <div class="notvisible-comp vertical-center">
      <img src="/assets/images2/4u/4umainPhone.png" class="img-fluid" data-aos="zoom-in" alt="">
      <h1 class="ta-center c-gold heavy-font" data-aos="fade-up">4U</h1>
      <h3 class="ta-center c-gold" data-aos="fade-up">Convenience on the move.</h3>
    </div>

  </section>
  <section class="e4u-disc full-page">
    <div class="e4u-disc-content">
      <h1 class="c-gold e4u-heading" data-aos="zoom-in">DUAL<br>
        <span class="heavy-font bg-heading">DISC</span>
        <br>BRAKES</h1>
      <p class="sm-para c-gold">EeVe 4U comes with dual disc brakes for <br> increased <span
          class="heavy-font">reliability.</span> </p>

    </div>
    <img src="/assets/images2/4u/4u2.png" class="img-fluid notvisible-phone" alt="">
    <img src="/assets/images2/4u/4u2Phone.png" class="img-fluid notvisible-comp" alt="">
  </section>
  <section class="e4u-iot full-page">
    <div class="e4u-iot-content">
      <h1 class="c-gold e4u-heading ta-right" data-aos="zoom-in">NOW<br><span
          class="heavy-font bg-heading">IOT</span><br>ENABLED</h1>
    </div>
    <img src="/assets/images2/4u/4u3.png" data-aos="fade-up" class="img-fluid notvisible-phone" alt="">
    <img src="/assets/images2/4u/4u3Phone.png" data-aos="fade-up" class="img-fluid notvisible-comp" alt="">
  </section>
  <section class="e4u-bosch full-page">
    <div class="row noPaddingMargin">
      <div class="col-lg-6 noPaddingMargin full-page notvisible-phone">
        <img src="/assets/images2/4u/4u4.png" class="img-fluid vertical-center" alt="">
      </div>
      <div class="col-lg-6 phone-full-page noPaddingMargin">
        <div class="e4u-bosch-content vertical-center notvisible-phone">
          <h1 class="c-gold e4u-heading">POWERED WITH<br><span class="heavy-font bg-heading">BOSCH</span><br>MOTOR
          </h1>
          <p class="sm-para c-gold">EeVe bikes hence have increased <br><span class="heavy-font">reliability</span> over
            others.</p>
        </div>
        <div class="e4u-bosch-content vertical-center notvisible-comp">
          <div class="e4u-bosch-content-text">
            <h1 class="c-gold e4u-heading">POWERED WITH <span class="heavy-font">BOSCH</span> MOTOR
            </h1>
            <p class="sm-para c-gold">EeVe bikes hence have increased <br><span class="heavy-font">reliability</span>
              over
              others.</p>
          </div>
          <br>
          <img src="/assets/images2/4u/4u4.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="e4u-utility full-page">
    <div class="row noPaddingMargin">
      <div class="col-lg-6 full-page noPaddingMargin">
        <div class="e4u-utility-content e4u-utility-content-text vertical-center notvisible-phone">
          <h1 class="c-pink e4u-heading">LOADED WITH<br><span class="heavy-font bg-heading">UTILITIES</span><br>AND MORE
          </h1>
          <p class="sm-para c-pink">With <span class="heavy-font">USB port, bottle case,<br> keyless entry </span>and
            more.</p>
        </div>
        <div class="e4u-utility-content vertical-center notvisible-comp">
          <div class="e4u-utility-content-text">
            <h1 class="c-pink e4u-heading">LOADED WITH <span class="heavy-font">UTILITIES</span> AND MORE
            </h1>
            <p class="sm-para c-pink">With <span class="heavy-font">USB port, bottle case,<br> keyless entry </span>and
              more.</p>
          </div>
          <br>
          <img src="/assets/images2/4u/4u5.png" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-lg-6 noPaddingMargin notvisible-phone">
        <img src="/assets/images2/4u/4u5.png" class="img-fluid" alt="">
      </div>
    </div>
  </section>
  <section class="color-variant u4-color-variant">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 color-image-container">
          <ul>
            <li class="color-option color-active" data-color="black-wind" id="black-wind"></li>
            <li class="color-option" data-color="red-wind" id="red-wind"></li>
            <li class="color-option" data-color="white-wind" id="white-wind"></li>
          </ul>
          <div>
            <img src="/assets/images2/4u/eeve_4u_bronze.png" alt="" class="img-fluid bike-variant"
              id="variant-black-wind">
            <img src="/assets/images2/4u/eeve_4u_purpe.png" alt="" class="img-fluid bike-variant variant-inactive"
              id="variant-red-wind">
            <img src="/assets/images2/4u/eeve_4u_white.png" alt="" class="img-fluid bike-variant variant-inactive"
              id="variant-white-wind">
          </div>
        </div>
        {{!-- <div class="col-lg-4">
          <div class="color-variant-info">
            <h3 class="c-blue"><span class="heavy-font c-green">EeVe</span> 4U</h3>
            <br>
            <small class="c-blue">Ex showroom price</small>
            <h1 class="c-blue">₹70,500</h1>
            <br><br>
            <h6 class="heavy-font c-blue">5 years warranty on vehicle</h6>
            <h6 class="heavy-font c-blue">Assured quality</h6>
            <h6 class="heavy-font c-blue">Smart features included</h6>
          </div>
        </div> --}}
      </div>
    </div>
  </section>
  <section class="specs">
    <div class="container">
      <h1 class="c-white heavy-font">Specification</h1>
      <br>
      <div class="row">
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Motor</p>
          <h3 class="heavy-font c-white">250 Watt Bosch Motor</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Battery</p>
          <h3 class="heavy-font c-white">60V 20AH Li-Ion</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Range/Autonomy</p>
          <h3 class="heavy-font c-white">60 to 70 KM</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Tyre Size & Type</p>
          <h3 class="heavy-font c-white">90/100-10 Tubeless</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Brakes</p>
          <h3 class="heavy-font c-white">Dual Disc</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Wheelbase</p>
          <h3 class="heavy-font c-white">1270 mm</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Payload</p>
          <h3 class="heavy-font c-white">140 KG</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">L * W * H</p>
          <h3 class="heavy-font c-white">1760 * 700 * 1100 mm</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Charging Time (hour)</p>
          <h3 class="heavy-font c-white">3 to 4 Hours</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Frame</p>
          <h3 class="heavy-font c-white">Tubular frame</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="your-testride e4u-testride full-page">
    <div class="container">
      <div class="your-testride-content">
        <h1 class="c-white">RIDE INTO THE</h1>
        <h1 class="h-font heavy-font c-white">FUTURE.</h1>
        <p class="c-white lg-para">with your EeVe.</p>
        <div style="display: inline">
          <a href="/testride" class="btn-link btn btn-sm c-green-bg">TEST RIDE</a>
          <a href="https://drive.google.com/file/d/1eD3nJCLyDYOx389g4er10kCi7V5LsTZw/view?usp=sharing" target="_blank"
            class="btn-link btn btn-sm c-green-bg">BROCHURE</a>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="https://emicalculator.net/widget/2.0/js/emicalc-loader.min.js" type="text/javascript"></script>