<!-- Bnner Section -->
<section class="banner-section-two" style="background-image:url(assets/images/background/4u.jpg); height: 100vh">
  <div class="auto-container">
    <div class="content-box">
      {{!--
      <div class="title-box">
        <h4>5 Days 10 Session</h4>
        <h1>Pixel Pioneers Belfast</h1>
      </div> --}}
      <!-- Countdown -->
      <div class="timer">
        <div class="cs-countdown" data-countdown="4/24/2019 05:06:59"></div>
      </div>
    </div>
  </div>
</section>
<!-- End Bnner Section -->

{{!-- Feature Section--}}
<section class="feature-section">
  <div class="row">
    <div class="col-lg-6 feature-section-text-container">
      <div class="feature-section-text">
        <h4>Electric Colours & Retro Headlamps</h4>
        <h6>The retro LED headlamps on a shinning perfectly curved front body form the identity of this compact scooter
          designed 4U. It's got a pair of sleek indicators and is loaded with USB, Bottle case, Keyless entry and other
          utilities. </h6>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="feature-section-img" style="background-image:url(assets/images/resource/4u_f1.jpg);"></div>
    </div>
    <div class="col-lg-6">
      <div class="feature-section-img" style="background-image:url(assets/images/resource/4u_f2.jpg);"></div>
    </div>
    <div class="col-lg-6 feature-section-text-container">
      <div class="feature-section-text">
        <h4>Curvy and you know it!</h4>
        <h6>The retro backlight glowing in the night is a sight to behold. The back is paired with a steel handlebar.
        </h6>
      </div>
    </div>
    <div class="col-lg-6 feature-section-text-container">
      <div class="feature-section-text">
        <h4>Dual Discs & Bosch Motors</h4>
        <h6>4U operates on Bosch Motors, has dual disc brakes for steady braking and higher suspension for increased
          shock absorption because you need to ride smooth and rough roads alike!</h6>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="feature-section-img" style="background-image:url(assets/images/resource/4u_f3.jpg);"></div>
    </div>
  </div>
</section>
{{!-- End Feature Section --}} {{!-- 0 --}}
<section class="highlight-container">
  <img src="assets/images/background/4uhighlight.jpg" alt="">
</section>

<!-- Specication Section -->
<section class="location-section specs">
  <span class="float-text">specs</span>
  <div class="anim-icons">
    <span class="icon icon-dots wow zoomIn"></span>
    <span class="icon icon-dots-2"></span>
    <span class="icon icon-lines"></span>
  </div>
  <div class="auto-container">
    <div class="sec-title">
      <h2>Specification</h2>
    </div>

    <div class="row">
      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                Motor
              </h4>
              <div class="text">
                <h4>240 Watt</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                Battery
              </h4>
              <div class="text">
                <h4>60 V 20 AH Lithium</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                Top speed
              </h4>
              <div class="text">
                <h4>25 Kms/hrs</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                Range/Autonomy
              </h4>
              <div class="text">
                <h4>70 to 80</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                Tyre Size & Type
              </h4>
              <div class="text">
                <h4>90/100-10 Tubeless</h3>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                Brakes
              </h4>
              <div class="text">
                <h4>Dual Disc</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                Wheelbase
              </h4>
              <div class="text">
                <h4>1270 mm</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                Payload
              </h4>
              <div class="text">
                <h4>120kg</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                L * W * H
              </h4>
              <div class="text">
                <h4>1753 * 743 * 1040 mm</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                Battery Life
              </h4>
              <div class="text">
                <h4>3-5 Years</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                Charging Time (hour)
              </h4>
              <div class="text">
                <h4>3 to 4 Hours</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Block Column -->
      <div class="blocks-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Specification Block -->
          <div class="location-block wow fadeInUp">
            <div class="inner-box spec-box">
              <h4>
                Frame
              </h4>
              <div class="text">
                <h4>Tubular frame</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!--End Specification Section -->

<!-- Main Footer -->
<div class="main-footer style-two">
  <div class="anim-icons">
    <span class="icon icon-twist-line-1 wow zoomIn"></span>
    <span class="icon icon-circle-6 wow zoomIn" data-wow-delay="400ms"></span>
    <span class="icon icon-twist-line-2 wow zoomIn" data-wow-delay="800ms"></span>
    <span class="icon icon-circle-8 wow zoomIn" data-wow-delay="1200ms"></span>
  </div>
  <div class="auto-container">
    <div class="sec-title text-center">
      <span class="title">Get The Latest Updates</span>
      <h2>Subscribe To Newsletter</h2>
    </div>

    <!--Newsletter Form-->
    <div class="newsletter-form">
      <form method="post" action="https://formspree.io/mevbrvbx">
        <div class="form-group">
          <input type="email" name="email" value="" placeholder="email@gmail.com" required>
          <button type="submit" class="theme-btn btn-style-three">Send</button>
        </div>
      </form>
    </div>

    <!-- Social Links -->
    <div class="social-links">
      <ul>
        <li>
          <a href="https://facebook.com/eeveindia" target="_blank">
            <span class="fab fa-facebook-f"></span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/eeveindia" target="_blank">
            <span class="fab fa-twitter"></span>
          </a>
        </li>
        <!-- <li>
          <a href="#">
            <span class="fab fa-dribbble"></span>
          </a>
        </li> -->
        <li>
          <a href="https://instagram.com/eeveindia" target="_blank">
            <span class="fab fa-instagram"></span>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/company/eeveindia" target="_blank">
            <span class="fab fa-linkedin-in"></span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Footer Nav -->
    <div class="footer-nav">
      <ul>
        <li>
          <a href="/about" style="color: #12114a">About</a>
        </li>

        <li>
          <a href="/contact" style="color: #12114a">Contact</a>
        </li>
        <li>
          <a href="/faq" style="color: #12114a">FAQ</a>
        </li>
        <li>
          <a href="/privacy" style="color: #12114a">Privacy Policy</a>
        </li>
        <li>
          <a href="/pressrelease" style="color: #12114a">Press Release</a>
        </li>
      </ul>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom clearfix">
      <div class="copyright">EeVe India &copy; 2019. All Rights Reserved.</div>
      <!-- <ul>
        <li>We Accept </li>
        <li>
          <a href="#">
            <img src="assets/images/icons/cart-1.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/icons/cart-2.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/icons/cart-3.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/icons/cart-4.jpg" alt="">
          </a>
        </li>
      </ul> -->
    </div>
    <!-- Copyright -->
  </div>
</div>
<!-- End Footer -->

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html">
  <span class="fa fa-angle-double-up"></span>
</div>
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/countdown.js"></script>
<script src="js/script.js"></script>
</body>

</html>