<div class="body-wrapper">
  <section class="about-top">
    <div class="row">
      <div class="col-lg-6 noPaddingMargin"><img src="/assets/images2/about/About1.png" alt=""></div>
      <div class="col-lg-6 noPaddingMargin">
        <div class="about-top-content-1">
          <h1 class="bg-heading c-blue">We <span class="heavy-font">thrive</span> <br>for <span
              class="c-green heavy-font">sustainability</span>.
          </h1>
          <p class="c-blue">EeVe is an Electric Two Wheeler manufacturing company that
            empowers the ecological sustainability with its futuristic, noise and
            emissions-free vehicle. EeVe is a one-of-its-kind automobile startup
            that brings a balance between high-end technology and ecological
            health of the world at one platform. <br><br>

            Our vehicles are designed keeping in mind the pain points of the
            Indian two wheeler users. With state of the art technology, products
            are carefully designed for Indian consumers and indian roads. EeVe is
            perfect for utility, style and comfort, as simple as that.</p>
        </div>
      </div>
      <div class="col-lg-6 noPaddingMargin">
        <div class="about-top-content-2">
          <h1 class="about-quote c-green">“</h1>
          <h1 class="c-blue ab-text">Ride into the <br><span class="heavy-font">future</span>.<span
              class="c-green">”</span>
          </h1>
        </div>
      </div>
      <div class="col-lg-6 noPaddingMargin">
        <img src="/assets/images2/about/About2.png" alt="">
      </div>
    </div>
  </section>
  <section class="about-leadership">
    <div class="container">
      <h1 class="bg-heading c-blue">Our <span class="heavy-font">Leadership</span></h1><br><br>
      <div class="row">
        <div class="col-lg-3">
          <img src="/assets/images2/about/jpd.jpg" class="img-fluid" alt="">
          <br><br>
          <h5 class="c-blue">Jay Prakash Didwania</h5>
          <p class="c-green about-desg">Founder & Chairman</p>
        </div>
        <div class="col-lg-3">
          <img src="/assets/images2/about/hd.jpg" class="img-fluid" alt="">
          <br><br>
          <h5 class="c-blue">Harsh Vardhan Didwania</h5>
          <p class="c-green about-desg">Co–Founder & Director</p>
        </div>
        <div class="col-lg-3">
          <img src="/assets/images2/about/ab.jpg" class="img-fluid" alt="">
          <br><br>
          <h5 class="c-blue">Aditya Bhalotia</h5>
          <p class="c-green about-desg">Chief Executive Officer</p>
        </div>
        <div class="col-lg-3">
          <img src="/assets/images2/about/sj.jpg" class="img-fluid" alt="">
          <br><br>
          <h5 class="c-blue">Suresh Kumar Jhunjhunwala</h5>
          <p class="c-green about-desg">Director</p>
        </div>
      </div>
    </div>
  </section>
</div>