<!--Page Title-->
<section class="page-title" style="background-image:url(assets/images/background/AbouUsBanner1.jpg);">
    <div class="auto-container">
        <span class="float-text">About Us</span>
        <h1>About Us</h1>
        <!-- <ul class="bread-crumb clearfix">
            <li>
                <a href="index.html">Home </a>
            </li>
            <li>About</li>
        </ul> -->
    </div>
</section>
<!--End Page Title-->

<!-- About Section -->
<section class="about-section">
    <div class="anim-icons">
        <span class="icon icon-cross-1"></span>
        <span class="icon icon-circle-9"></span>
    </div>
    <span class="float-text">About Us</span>
    <div class="auto-container">
        <div class="sec-title">
            <h2>About Us</h2>
        </div>

        <div class="about-carousel owl-carousel owl-theme">
            <!-- Slide Item -->
            <div class="slide-item clearfix">
                <div class="image-box">
                    <figure class="image">
                        <img src="assets/images/resource/eeve-idea.png" alt="">
                    </figure>
                </div>
                <div class="content-box">
                    <div class="inner-box">
                        <span class="title">October 2017: The Idea</span>
                        <h3>EeVe started with an observation & urge to solve a big problem.</h3>
                        <div class="text">The idea of EeVe began after diwali 2017 when there was an unusual surge in
                            pollution. The country
                            pollution rose to alarming levels. That's when we came across the idea of pollution free,
                            eco-friendly
                            commuting.
                        </div>
                        <div class="btn-box">
                            <a href="/contact" class="theme-btn btn-style-one">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide Item -->
            <div class="slide-item clearfix">
                <div class="image-box">
                    <figure class="image">
                        <img src="assets/images/resource/Hustle&DevforWeb.jpg" alt="">
                    </figure>
                </div>
                <div class="content-box">
                    <div class="inner-box">
                        <span class="title">2018: The Leap of Faith</span>
                        <h3>Hustle & Development of EeVe</h3>
                        <div class="text">With 4 decades of experience in various automobile sectors, we began our
                            research into eco friendly
                            electric vehicles. It involved learning of engineeringthat goes into an electric vehicle and
                            then followed implementation & prototypes.</div>
                        <div class="btn-box">
                            <a href="/contact" class="theme-btn btn-style-one">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide Item -->
            <div class="slide-item clearfix">
                <div class="image-box">
                    <figure class="image">
                        <img src="assets/images/resource/TimeToEeVeforWeb.jpg" alt="">
                    </figure>
                </div>
                <div class="content-box">
                    <div class="inner-box">
                        <span class="title">April 2019: Execution</span>
                        <h3>Time to Ride into the Future</h3>
                        <div class="text">The dream, EeVe, turned into reality. We couldn't be more excited to launch
                            the brand here in Odisha,
                            India. We began onboarding Partners in our journey to the future. The production line is all
                            set to launch in July. We pride ourselves to have executed the crafting of eco-friendly
                            futuristic
                            EeVe range of vehicles.</div>
                        <div class="btn-box">
                            <a href="/contact" class="theme-btn btn-style-one">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section -->

<!-- Fun Fact Section -->
<!-- <section class="fun-fact-section-two">
    <div class="anim-icons">
        <span class="icon icon-circle-10"></span>
        <span class="icon icon-twist-line-3"></span>
    </div>
    <div class="auto-container">
        <div class="fact-counter">
            <div class="row clearfix">
                
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="count-box">
                        <span class="icon flaticon-mug"></span>
                        <span class="count-text" data-speed="3000" data-stop="70">0</span>+
                        <h4 class="counter-title">Usefull
                            <br>Sessions</h4>
                    </div>
                </div>

                
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="count-box">
                        <span class="icon flaticon-launch"></span>
                        <span class="count-text" data-speed="3000" data-stop="65">0</span>+
                        <h4 class="counter-title">International
                            <br>Sponsors</h4>
                    </div>
                </div>

                
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="count-box">
                        <span class="icon flaticon-lady"></span>
                        <span class="count-text" data-speed="3000" data-stop="6">0</span>k+
                        <h4 class="counter-title">Regular
                            <br>Crowd</h4>
                    </div>
                </div>

                
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                    <div class="count-box">
                        <span class="icon flaticon-support-1"></span>
                        <span class="count-text" data-speed="3000" data-stop="35">0</span>+
                        <h4 class="counter-title">Our Visionary
                            <br>Speakers</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--End Fun Fact Section -->

<!-- About Event -->
<section class="about-event">
    <div class="anim-icons">
        <span class="icon icon-circle-13"></span>
        <span class="icon icon-circle-14"></span>
        <span class="icon icon-circle-14"></span>
        <span class="icon icon-triangle-1"></span>
        <span class="icon icon-triangle-2"></span>
    </div>
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>EeVe India
                            <br>Welcome to the Future</h2>
                    </div>
                    <div class="info-box">
                        <h5>Let's Save the Planet: Smart Commuting for Smarter Cities</h5>
                        <div class="text">We feel lucky to have an opportunity to transform commuting for a billion
                            lives. Having experienced
                            the efficiency, power & impact of eco-friendly, smart electric vehicles hands on; we can't
                            wait
                            to bring it to you. Starting from a range of 4 models, there's a lot more in store for
                            everyone.
                            The young and dynamic EeVe team is working round the clock to bring to you an intelligent
                            line
                            up of 2-wheelers that would literally talk to you.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="image-box wow fadeInRight">
                    <figure class="image-box">
                        <img src="assets/images/resource/environmentFriendly.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Event -->

<!-- Speakers Section Two -->
<section class="speakers-section-two style-two alternate-2">
    <span class="float-text">Team</span>
    <div class="auto-container">
        <div class="sec-title">
            <h2>Team</h2>
        </div>

        <div class="row">
            <!-- Feature Block -->
            <div class="speaker-block-two wow fadeInUp col-lg-3">
                <div class="image-box">
                    <figure class="image">
                        <img src="assets/images/clients/jpd.jpg" alt="">
                    </figure>
                    <div class="overlay-box">
                        <a href="#jp_popup" class="link view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                            <span class="flaticon-add-1"></span>
                        </a>
                        <div class="info">
                            <h5 class="name">Jay Prakash Didwania</h5>
                            <span class="designation">Founder & Chairman</span>
                        </div>
                    </div>
                </div>

                <!-- popup start-->
                <div id="jp_popup" class="container ts-speaker-popup mfp-hide">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ts-speaker-popup-img">
                                <img src="assets/images/clients/jpd.jpg" alt="">
                            </div>
                        </div>
                        <!-- col end-->
                        <div class="col-lg-6">
                            <div class="ts-speaker-popup-content">
                                <h3 class="ts-title">Jay Prakash Didwania</h3>
                                <span class="speakder-designation">Founder & Chairman</span>
                                <p>
                                    Commerce Graduate with 35 years extensive experience in the automobile industry.
                                    <br>
                                    The Bharat Group, under his able leadership, has grown into one of the most famous
                                    Indian automobile dealership and
                                    automobile logistics businesses in India
                                </p>


                                <!-- <div class="ts-speakers-social">
                                    <a href="">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div> -->
                            </div>
                            <!-- ts-speaker-popup-content end-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feature Block -->
            <div class="speaker-block-two wow fadeInUp col-lg-3">
                <div class="image-box">
                    <figure class="image" style="overflow: hiiden:">
                        <img src="assets/images/clients/hd.jpg" alt="">
                    </figure>
                    <div class="overlay-box">
                        <a href="#hd_popup" class="link view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                            <span class="flaticon-add-1"></span>
                        </a>
                        <div class="info">
                            <h5 class="name">Harsh Didwania</h5>
                            <span class="designation">Co–Founder & Director</span>
                        </div>
                    </div>
                </div>

                <!-- popup start-->
                <div id="hd_popup" class="container ts-speaker-popup mfp-hide">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ts-speaker-popup-img">
                                <img src="assets/images/clients/hd.jpg" alt="">
                            </div>
                        </div>
                        <!-- col end-->
                        <div class="col-lg-6">
                            <div class="ts-speaker-popup-content">
                                <h3 class="ts-title">Harsh Didwania</h3>
                                <span class="speakder-designation">Co–Founder & Director</span>
                                <p>
                                    Currently pursuing his Chartered Accountancy. He has been instrumental in setting up
                                    the company and is involved in product development / selection and process
                                    building.
                                </p>


                                <!-- <div class="ts-speakers-social">
                                    <a href="">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div> -->
                            </div>
                            <!-- ts-speaker-popup-content end-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feature Block -->
            <div class="speaker-block-two wow fadeInUp col-lg-3">
                <div class="image-box">
                    <figure class="image">
                        <img src="assets/images/resource/speaker-1.jpg" alt="">
                    </figure>
                    <div class="overlay-box">
                        <a href="#sj_popup" class="link view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                            <span class="flaticon-add-1"></span>
                        </a>
                        <div class="info">
                            <h5 class="name">Suresh Jhunjhunwala</h5>
                            <span class="designation">Managing Director</span>
                        </div>
                    </div>
                </div>

                <!-- popup start-->
                <div id="sj_popup" class="container ts-speaker-popup mfp-hide">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ts-speaker-popup-img">
                                <img src="" alt="">
                            </div>
                        </div>
                        <!-- col end-->
                        <div class="col-lg-6">
                            <div class="ts-speaker-popup-content">
                                <h3 class="ts-title">Suresh Jhunjhunwala</h3>
                                <span class="speakder-designation">Managing Director</span>
                                <p>
                                    An Materials Management Graduate with over 20 years of experience in the automobile
                                    industry. He has extensive experience in building up new businesses.
                                </p>


                                <!-- <div class="ts-speakers-social">
                                    <a href="">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div> -->
                            </div>
                            <!-- ts-speaker-popup-content end-->
                        </div>
                    </div>
                </div>
            </div>


            <div class="speaker-block-two wow fadeInUp col-lg-3">
                <div class="image-box">
                    <figure class="image">
                        <img src="assets/images/resource/speaker-1.jpg" alt="">
                    </figure>
                    <div class="overlay-box">
                        <a href="#ab_popup" class="link view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                            <span class="flaticon-add-1"></span>
                        </a>
                        <div class="info">
                            <h5 class="name">Aditya Bhalotiya</h5>
                            <span class="designation">CEO & Director</span>
                        </div>
                    </div>
                </div>

                <!-- popup start-->
                <div id="ab_popup" class="container ts-speaker-popup mfp-hide">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ts-speaker-popup-img">
                                <img src="" alt="">
                            </div>
                        </div>
                        <!-- col end-->
                        <div class="col-lg-6">
                            <div class="ts-speaker-popup-content">
                                <h3 class="ts-title">Aditya Bhalotiya</h3>
                                <span class="speakder-designation">CEO & Director</span>
                                <p>
                                    Masters Degree in Finance with over 20 years of experience in banking and the
                                    automobile industry.
                                </p>


                                <!-- <div class="ts-speakers-social">
                                    <a href="">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                    <a href="">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div> -->
                            </div>
                            <!-- ts-speaker-popup-content end-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="speaker-block-two wow fadeInUp col-lg-3">
                <div class="image-box">
                    <figure class="image">
                        <img src="assets/images/resource/speaker-1.jpg" alt="">
                    </figure>
                    <div class="overlay-box">
                        <a href="#as_popup" class="link view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                            <span class="flaticon-add-1"></span>
                        </a>
                        <div class="info">
                            <h5 class="name">Abhay Srivastava</h5>
                            <span class="designation">Sales & Marketing Head</span>
                        </div>
                    </div>
                </div>

                <!-- popup start-->
                <div id="as_popup" class="container ts-speaker-popup mfp-hide">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ts-speaker-popup-img">
                                <img src="" alt="">
                            </div>
                        </div>
                        <!-- col end-->
                        <div class="col-lg-6">
                            <div class="ts-speaker-popup-content">
                                <h3 class="ts-title">Abhay Srivastava</h3>
                                <span class="speakder-designation">Sales & Marketing Head</span>
                                <p>
                                    MBA with 24 years experience in the automobile Sector.
                                </p>


                                <!-- <div class="ts-speakers-social">
                                                <a href="">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                                <a href="">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <a href="">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                                <a href="">
                                                    <i class="fab fa-google-plus"></i>
                                                </a>
                                                <a href="">
                                                    <i class="fab fa-linkedin"></i>
                                                </a>
                                            </div> -->
                            </div>
                            <!-- ts-speaker-popup-content end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!--End Speakers Section -->

<!-- Sponsor Section -->
<!-- <section class="sponsor-section style-two" style="background-image: url(assets/images/background/1.jpg);">
    <span class="float-text">Our Sponsor</span>
    <div class="auto-container">
        <div class="row">
            <div class="client-logo col-lg-3 col-md-6 col-sm-12">
                <figure class="image">
                    <a href="">
                        <img src="assets/images/clients/2-1.png" alt="">
                    </a>
                </figure>
            </div>
            <div class="client-logo col-lg-3 col-md-6 col-sm-12">
                <figure class="image">
                    <a href="">
                        <img src="assets/images/clients/2-2.png" alt="">
                    </a>
                </figure>
            </div>
            <div class="client-logo col-lg-3 col-md-6 col-sm-12">
                <figure class="image">
                    <a href="">
                        <img src="assets/images/clients/2-3.png" alt="">
                    </a>
                </figure>
            </div>
            <div class="client-logo col-lg-3 col-md-6 col-sm-12">
                <figure class="image">
                    <a href="">
                        <img src="assets/images/clients/2-4.png" alt="">
                    </a>
                </figure>
            </div>
            <div class="client-logo col-lg-3 col-md-6 col-sm-12">
                <figure class="image">
                    <a href="">
                        <img src="assets/images/clients/2-5.png" alt="">
                    </a>
                </figure>
            </div>
            <div class="client-logo col-lg-3 col-md-6 col-sm-12">
                <figure class="image">
                    <a href="">
                        <img src="assets/images/clients/2-6.png" alt="">
                    </a>
                </figure>
            </div>
            <div class="client-logo col-lg-3 col-md-6 col-sm-12">
                <figure class="image">
                    <a href="">
                        <img src="assets/images/clients/2-7.png" alt="">
                    </a>
                </figure>
            </div>
            <div class="client-logo col-lg-3 col-md-6 col-sm-12">
                <figure class="image">
                    <a href="">
                        <img src="assets/images/clients/2-8.png" alt="">
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section>
 -->
<!--End Sponsor Section -->

<!-- Location Section Two -->
<!-- <section class="location-section-two style-two">
    <div class="anim-icons">
        <span class="icon icon-cross-1"></span>
        <span class="icon icon-circle-12"></span>
        <span class="icon icon-circle-9"></span>
        <span class="icon icon-twist-line-3"></span>
    </div>
    <span class="float-text">Get In Touch</span>
    <div class="auto-container">
        <div class="sec-title">
            <h2>Locations</h2>
        </div>
        <div class="row">
            
            <div class="info-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="assets/images/resource/vactor-1.png" alt="">
                        </figure>
                    </div>
                    <div class="info-box">
                        <h5>Conference Location</h5>
                        <div class="text">Washington State Convention Center 705 Pike Street ,Seattle, WA 98101 Phone: 206-694-5000</div>
                    </div>
                </div>
            </div>

            
            <div class="info-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="assets/images/resource/vactor-2.png" alt="">
                        </figure>
                    </div>
                    <div class="info-box">
                        <h5>Hotel Information</h5>
                        <div class="text">Washington State Convention Center 705 Pike Street ,Seattle, WA 98101 Phone: 206-694-5000</div>
                    </div>
                </div>
            </div>

            
            <div class="info-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="assets/images/resource/vactor-3.png" alt="">
                        </figure>
                    </div>
                    <div class="info-box">
                        <h5>Airport Information</h5>
                        <div class="text">Washington State Convention Center 705 Pike Street ,Seattle, WA 98101 Phone: 206-694-5000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--End Location Section -->

<!-- Main Footer -->
<div class="main-footer style-two">
    <div class="anim-icons">
        <span class="icon icon-twist-line-1 wow zoomIn"></span>
        <span class="icon icon-circle-6 wow zoomIn" data-wow-delay="400ms"></span>
        <span class="icon icon-twist-line-2 wow zoomIn" data-wow-delay="800ms"></span>
        <span class="icon icon-circle-8 wow zoomIn" data-wow-delay="1200ms"></span>
    </div>
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="title">Get The Latest Updates</span>
            <h2>Subscribe To Newsletter</h2>
        </div>

        <!--Newsletter Form-->
        <div class="newsletter-form">
            <form method="post" action="https://formspree.io/mevbrvbx">
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="email@gmail.com" required>
                    <button type="submit" class="theme-btn btn-style-three">Send</button>
                </div>
            </form>
        </div>

        <!-- Social Links -->
        <div class="social-links">
            <ul>
                <li>
                    <a href="https://facebook.com/eeveindia" target="_blank">
                        <span class="fab fa-facebook-f"></span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/eeveindia" target="_blank">
                        <span class="fab fa-twitter"></span>
                    </a>
                </li>
                <!-- <li>
                  <a href="#">
                    <span class="fab fa-dribbble"></span>
                  </a>
                </li> -->
                <li>
                    <a href="https://instagram.com/eeveindia" target="_blank">
                        <span class="fab fa-instagram"></span>
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/company/eeveindia" target="_blank">
                        <span class="fab fa-linkedin-in"></span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Footer Nav -->
        <div class="footer-nav">
            <ul>
                <li>
                    <a href="/about" style="color: #12114a">About</a>
                </li>

                <li>
                    <a href="/contact" style="color: #12114a">Contact</a>
                </li>
                <li>
                    <a href="/faq" style="color: #12114a">FAQ</a>
                </li>
                <li>
                    <a href="/privacy" style="color: #12114a">Privacy Policy</a>
                </li>
                <li>
                    <a href="/pressrelease" style="color: #12114a">Press Release</a>
                </li>
            </ul>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom clearfix">
            <div class="copyright">EeVe India &copy; 2019. All Rights Reserved.</div>
            <!-- <ul>
                <li>We Accept </li>
                <li>
                    <a href="">
                        <img src="assets/images/icons/cart-1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="assets/images/icons/cart-2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="assets/images/icons/cart-3.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="assets/images/icons/cart-4.jpg" alt="">
                    </a>
                </li>
            </ul> -->
        </div>
        <!-- Copyright -->
    </div>
</div>
<!-- End Footer -->

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html">
    <span class="fa fa-angle-double-up"></span>
</div>
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/countdown.js"></script>
<script src="js/script.js"></script>
</body>

</html>