{{!-- <section class="dealer-form-container">
  <div class="container">
    <h4 class="c-blue">We're the <span class="heavy-font">fastest growing</span> electric two-wheeler brand looking
      for channel partners <br> who
      thrive to
      build a future
      that is
      eco-friendly, intelligent and filled with<br> <span class="heavy-font">happy <span class="c-green">EeVe</span>
        owners</span> just as much as
      we
      do.</h4>
  </div>
</section> --}}
<div class="bookingmsg">
  <div class="container">
    <div class="bookingmsg-container">
      <img src="assets/images2/booking/ThankYou2989.jpg" alt="">
    </div><br>
    <h4 class="c-blue">Thank you for the overwhelming response! It's been wonderful the past few days with <span
        class="heavy-font">959 more happy owners</span> joining our
      <span class="heavy-font"> <span class="c-green">EeVe</span> family</span> , we're forced to stop the online
      bookings for the time-being but we promise we'll be back with our
      next
      round of pre-booking for all of you. Like we said, there's more, stay tuned! <span class="heavy-font">
        #EeVeHaiTohEasyHai #RideIntoTheFuture
        #Electric
      </span></h4>



  </div>
</div>