<div class="body-wrapper">
  <section class="contact-top booking-topcontent c-blue-bg">
    <div class="container">
      <h1 class="c-white"><span class="heavy-font c-green">Contact</span> Us</h1>
      <h5 class="c-white">For any queries, call us on our toll free number <span
          class="c-green heavy-font">1800123444400</span>.</h5>
    </div>
  </section>
  <section class="contact-address">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="c-green">Sales & Marketing Office</h3>
          <p class="c-blue">S3/45, Mancheswar Industrial Estate, <br> Bhubaneswar, Odisha, PIN-751010 <br> Email:
            marketing@eeveindia.com</p>
        </div>
        <div class="col-md-4">
          <h3 class="c-green">Factory Office</h3>
          <p class="c-blue">OMJAY EV LIMITED, NH5, Badachana, <br> Chandikhol, Odisha, PIN-754296 <br>
            {{!-- Email:
            sanjay.kumar@eeveindia.com --}}
          </p>
        </div>
        <div class="col-md-4">
          <h3 class="c-green">Feedback</h3>
          <p class="c-blue">Send your feedback at <br>
            info@eeveindia.com</p>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-form">
    <div class="container">
      <form action="https://formspree.io/mloyeeyx" method="POST" id="contact-form">
        <div class="row">
          <div class="col-md-4 col-sm-12 form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="" required="" />
          </div>

          <div class="col-md-4 col-sm-12 form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" placeholder="" required="" />
          </div>

          <div class="col-md-4 col-sm-12 form-group">
            <label>Contact Number</label>
            <input type="text" name="Contact Number" class="form-control" placeholder="" required="" />
          </div>

          <div class="col-md-12 col-sm-12 form-group">
            <label>Message</label>
            <textarea name="message" class="form-control"></textarea>
          </div>
        </div>
        <button class="btn c-green-bg" type="submit" name="Submit">
          Send Message
        </button>
      </form>

    </div>

  </section>
</div>