<!--Page Title-->
<section class="page-title" style="background-image:url(assets/images/background/ContactUsbanner.png);">
  <div class="auto-container">
    <span class="float-text">Contact</span>
    <h1>Contact Us</h1>
    <!-- <ul class="bread-crumb clearfix">
      <li>
        <a href="index.html">Home </a>
      </li>
      <li>Contact Us</li>
    </ul> -->
  </div>
</section>
<!--End Page Title-->

<!-- Location Section Two -->
<section class="location-section-two style-three">
  <div class="auto-container">
    <div class="row">
      <!-- Info Block -->
      <!-- <div class="info-block col-lg-4 col-md-6 col-sm-12 wow slideInLeft">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <img src="assets/images/resource/vactor-1.png" alt="" />
            </figure>
          </div>
          <div class="info-box">
            <h5>Conference Location</h5>
            <div class="text">
              Washington State Convention Center 705 Pike Street ,Seattle, WA 98101 Phone: 206-694-5000
            </div>
          </div>
        </div>
      </div> -->

      <!-- Info Block -->
      <div class="info-block col-lg-4 col-md-6 col-sm-12 wow slideInDown">
        <div class="inner-box">
          {{!-- <div class="image-box">
            <figure class="image">
              <img src="assets/images/resource/vactor-2.png" alt="" />
            </figure>
          </div> --}}
          <div class="info-box">
            <h5>Sales & Marketing Office</h5>
            <div class="text">
              S3/45, Mancheswar Industrial Estate, Bhubaneswar-751010, Odisha India <br>
              Email: sunil.nayak@eeveindia.com

            </div>
          </div>
        </div>
      </div>

      <div class="info-block col-lg-4 col-md-6 col-sm-12 wow slideInDown">
        <div class="inner-box">
          {{!-- <div class="image-box">
            <figure class="image">
              <img src="assets/images/resource/vactor-2.png" alt="" />
            </figure>
          </div> --}}
          <div class="info-box">
            <h5>Factory Office</h5>
            <div class="text">
              OMJAY EV LIMITED, NH5, Badachana, Chadikhol, Odisha, PIN-754296 <br>
              Email: sanjay.kumar@eeveindia.com
            </div>
          </div>
        </div>
      </div>

      <div class="info-block col-lg-4 col-md-6 col-sm-12 wow slideInDown">
        <div class="inner-box">
          {{!-- <div class="image-box">
            <figure class="image">
              <img src="assets/images/resource/vactor-2.png" alt="" />
            </figure>
          </div> --}}
          <div class="info-box">
            <h5>Toll Free Number</h5>
            <div class="text">1800123444400</div>
          </div>
        </div>
      </div>

      <!-- Info Block -->
      <!-- <div class="info-block col-lg-4 col-md-6 col-sm-12 wow slideInRight">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <img src="assets/images/resource/vactor-3.png" alt="" />
            </figure>
          </div>
          <div class="info-box">
            <h5>Airport Information</h5>
            <div class="text">
              Washington State Convention Center 705 Pike Street ,Seattle, WA 98101 Phone: 206-694-5000
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <!-- <div class="map-box">
    Map Canvas
    <div class="map-canvas" data-zoom="12" data-lat="-37.817085" data-lng="144.955631" data-type="roadmap" data-hue="#ffc400"
      data-title="Envato" data-icon-path="assets/images/icons/map-marker.png" data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>"></div>
  </div> -->
</section>
<!--End Location Section -->

<!-- Contact Page Section -->
<section class="contact-page-section">
  <div class="anim-icons">
    <span class="icon icon-cross-1"></span>
    <span class="icon icon-circle-12"></span>
    <span class="icon icon-circle-9"></span>
    <span class="icon icon-twist-line-3"></span>
  </div>
  <div class="auto-container">
    <div class="contact-form">
      <form action="https://formspree.io/mloyeeyx" method="POST" id="contact-form">
        <div class="row clearfix">
          <div class="col-md-6 col-sm-12 form-group">
            <label>Your Name</label>
            <input type="text" name="name" placeholder="" required="" />
          </div>

          <div class="col-md-6 col-sm-12 form-group">
            <label>Your e-mail</label>
            <input type="email" name="email" placeholder="" required="" />
          </div>

          <div class="col-md-6 col-sm-12 form-group">
            <label>Contact Number</label>
            <input type="text" name="Contact Number" placeholder="" required="" />
          </div>

          <div class="col-md-6 col-sm-12 form-group">
            <label>City</label>
            <input type="text" name="City" placeholder="" required="" />
          </div>

          <div class="col-md-12 col-sm-12 form-group">
            <label>Message</label>
            <textarea name="message"></textarea>
          </div>

          <div class="col-md-6 col-sm-12 order-12 form-group text-right">
            <button class="theme-btn btn-style-five" type="submit" name="Submit">
              Send Message
            </button>
          </div>

          <div class="col-md-6 col-sm-12 form-group">
            <!-- <label class="radio-option">Send me a copy
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!--End Contact Page Section -->

<!-- Main Footer -->
<div class="main-footer style-two">
  <div class="anim-icons">
    <span class="icon icon-twist-line-1 wow zoomIn"></span>
    <span class="icon icon-circle-6 wow zoomIn" data-wow-delay="400ms"></span>
    <span class="icon icon-twist-line-2 wow zoomIn" data-wow-delay="800ms"></span>
    <span class="icon icon-circle-8 wow zoomIn" data-wow-delay="1200ms"></span>
  </div>
  <div class="auto-container">
    <div class="sec-title text-center">
      <span class="title">Get The Latest Updates</span>
      <h2>Subscribe To Newsletter</h2>
    </div>

    <!--Newsletter Form-->
    <div class="newsletter-form">
      <form method="post" action="https://formspree.io/mevbrvbx">
        <div class="form-group">
          <input type="email" name="email" value="" placeholder="email@gmail.com" required />
          <button type="submit" class="theme-btn btn-style-three">
            Send
          </button>
        </div>
      </form>
    </div>

    <!-- Social Links -->
    <div class="social-links">
      <ul>
        <li>
          <a href="https://facebook.com/eeveindia" target="_blank">
            <span class="fab fa-facebook-f"></span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/eeveindia" target="_blank">
            <span class="fab fa-twitter"></span>
          </a>
        </li>
        <!-- <li>
              <a href="#">
                <span class="fab fa-dribbble"></span>
              </a>
            </li> -->
        <li>
          <a href="https://instagram.com/eeveindia" target="_blank">
            <span class="fab fa-instagram"></span>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/company/eeveindia" target="_blank">
            <span class="fab fa-linkedin-in"></span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Footer Nav -->
    <div class="footer-nav">
      <ul>
        <li>
          <a href="/about" style="color: #12114a">About</a>
        </li>

        <li>
          <a href="/contact" style="color: #12114a">Contact</a>
        </li>
        <li>
          <a href="/faq" style="color: #12114a">FAQ</a>
        </li>
        <li>
          <a href="/privacy" style="color: #12114a">Privacy Policy</a>
        </li>
        <li>
          <a href="/pressrelease" style="color: #12114a">Press Release</a>
        </li>
      </ul>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom clearfix">
      <div class="copyright">
        EeVe India &copy; 2019. All Rights Reserved.
      </div>
      <!-- <ul>
        <li>We Accept</li>
        <li>
          <a href="#">
            <img src="assets/images/icons/cart-1.jpg" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/icons/cart-2.jpg" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/icons/cart-3.jpg" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/icons/cart-4.jpg" alt="" />
          </a>
        </li>
      </ul> -->
    </div>
    <!-- Copyright -->
  </div>
</div>
<!-- End Footer -->
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html">
  <span class="fa fa-angle-double-up"></span>
</div>
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/validate.js"></script>
<script src="js/countdown.js"></script>
<script src="js/script.js"></script>
<!--Google Map APi Key-->
<script src="http://maps.google.com/maps/api/js?key=AIzaSyDTPlX-43R1TpcQUyWjFgiSfL_BiGxslZU"></script>
<script src="js/map-script.js"></script>
<!--End Google Map APi-->
</body>

</html>