<div class="dealer-form">
  <section class="dealer-form-top full-page">
    <div class="dealer-form-top-bg">
      <p class="c-white dealer-form-p1">JOIN US IN <span class="heavy-font c-green">OUR JOURNEY.</span> </p>
      <p class="dealer-form-p2 c-white">We would like you to become our channel partner for our future forward journey.
      </p>
    </div>
  </section>
  <section class="dealer-form-container">
    <div class="container">
      <h4 class="c-blue">We're the <span class="heavy-font">fastest growing</span> electric two-wheeler brand looking
        for channel partners <br> who
        thrive to
        build a future
        that is
        eco-friendly, intelligent and filled with<br> <span class="heavy-font">happy <span class="c-green">EeVe</span>
          owners</span> just as much as
        we
        do.</h4><br><br><br><br>
      <form method="POST" action="https://formspree.io/xrgyjoya">
        <h3 class="c-green heavy-font">Personal Details</h3>
        <p class="c-blue">Your personal details like email & Contact are very important. All the communication related
          to your booking will be
          made at your email, make sure to keep an eye.</p>

        <div class="row">
          <div class="col-md-4 col-sm-12 form-group">
            <label>Full Name</label>
            <input type="text" name="contactPerson" class="form-control" required />
          </div>

          <div class="col-md-4 col-sm-12 form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required />
          </div>

          <div class="col-md-4 col-sm-12 form-group">
            <label>Phone</label>
            <input type="text" name="phone" class="form-control" minlength="10" maxlength="10" required />
          </div>
        </div>
        <br>
        <hr>
        <br>
        <h3 class="c-green heavy-font">Professional Details</h3>
        <div class="row">
          <div class="col-md-4 col-sm-12 form-group">
            <label>Company Name</label>
            <input type="text" name="companyName" class="form-control" required />
          </div>

          <div class="col-md-4 col-sm-12 form-group">
            <label>Address</label>
            <input type="text" name="address" class="form-control" required />
          </div>
        </div>
        <br>
        <hr>
        <br>
        <h3 class="c-green heavy-font">Location Details</h3>
        <div class="row">
          <div class="col-md-4 col-sm-12 form-group">
            <label>Apply for State</label>
            <select class="form-control form-input" name="state" id="state">
              <option value=""></option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
              <option value="Daman and Diu">Daman and Diu</option>
              <option value="Delhi">Delhi</option>
              <option value="Lakshadweep">Lakshadweep</option>
              <option value="Puducherry">Puducherry</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jammu and Kashmir">Jammu and Kashmir</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="West Bengal">West Bengal</option>
            </select>
          </div>

          <div class="col-md-4 col-sm-12 form-group">
            <label>City</label>
            <input type="text" name="city" class="form-control" required />
          </div>
        </div>
        <br>
        <button type="submit" class="btn c-green-bg">Submit</button>
      </form>
    </div>
  </section>
</div>