<div class="body-wrapper">
	<section class="contact-top booking-topcontent c-blue-bg">
		<div class="container">
			<h1 class="c-white heavy-font">FAQ</h1>
		</div>
	</section>
	<section>
		<br>
		<div class="container">

			<h3 class="c-green heavy-font">For Product</h3>
			<div class="accordion">
				<div class="accordion-item">
					<button id="accordion-button-1" aria-expanded="false">What is the difference between an electric scooter and
						electric bike?
						<span class="icon" aria-hidden="true"></span></button>
					<div class="accordion-content">
						<p>Electric scooters are non-geared and run like a regular two-wheeler on electricity,with the powertrain
							replaced with an
							electric motor..Electric Bike are geared, and only differ in the performance.The luggage space and weight
							are other key
							differences between an electric scooter and electric bike.
							<br>EeVe has 4 variants of electric scooters in the market, namely EeVe Wind, EeVe Xenia, EeVe Your, EeVe
							4U.
							EeVe will be launching its flagship electric bike, EeVe Forseti soon.

						</p>
					</div>
				</div>
				<div class="accordion-item">
					<button id="accordion-button-2" aria-expanded="false">Can I charge an electric scooter at home?
						<span class="icon" aria-hidden="true"></span></button>
					<div class="accordion-content">
						<p>Yes, You can easily charge your electric scooter at your home.
							EeVe electric scooters have Power Cord that allows easy charging with a regular plug.

						</p>
					</div>
				</div>
				<div class="accordion-item">
					<button id="accordion-button-3" aria-expanded="false">What is the range of electric scooters?<span
							class="icon" aria-hidden="true"></span></button>
					<div class="accordion-content">
						<p>The general range of electric scooters is 60-70 km in one single charge of around 7-8 hours. But this
							varies according
							to the type of electric battery that is being used in the electric vehicle.
							<br>Electric scooters at EeVe have a range of 60-70 km for EeVe Xenia and EeVe 4U variants as they are
							lithium-ion electric
							battery based vehicles. While the range for the EeVe Wind and EeVe Your is between 50-60 km as they are
							lead-acid
							electric battery based vehicles.
							To know why there are variations, read <a
								href="https://blog.eeveindia.com/key-differences-between-lithium-vehicle-and-lead-acid-vehicle/">key
								differences between lithium ion and lead acid vehicles.
							</a>
						</p>
					</div>
				</div>
				<div class="accordion-item">
					<button id="accordion-button-4" aria-expanded="false">How Long does it take to charge an electric scooter?
						<span class="icon" aria-hidden="true"></span></button>
					<div class="accordion-content">
						<p>For a Lithium-ion battery variant electric scooter, the charging time is between 3 to 4 hours and for
							Lead-acid based
							battery, it is between 7 to 8 hours.
							EeVe has EeVe Wind, EeVe Your as the lea
						</p>
					</div>
				</div>
				<div class="accordion-item">
					<button id="accordion-button-5" aria-expanded="false">What is keyless entry in EeVe electric scooters?
						<span class="icon" aria-hidden="true"></span></button>
					<div class="accordion-content">
						<p>In Keyless entry, you can lock/unlock and start your EeVe electric scooters with the remote provided,
							hence the key
							isn’t needed.

						</p>
					</div>
				</div>
				<div class="accordion-item">
					<button id="accordion-button-5" aria-expanded="false">How do I use the mobile app to track my EeVe scooter?

						<span class="icon" aria-hidden="true"></span></button>
					<div class="accordion-content">
						<p>Download the AerTrak App from Play Store or App Store and login using the registered e-mail ID for
							accessing the feature
							of your EeVe from your phone.
						</p>
					</div>
				</div>
				<div class="accordion-item">
					<button id="accordion-button-5" aria-expanded="false">What are some of the features of EeVe scooters?

						<span class="icon" aria-hidden="true"></span></button>
					<div class="accordion-content">
						<p>EeVe offers extra features like Warranty on our vehicles i.e 5 years, Internet of things enabling,
							Keyless Entry,
							Geo-Tagging, USB Port for charging and GPS integration. These things combined help us to stand apart from
							our
							competitors.
						</p>
					</div>
				</div>
				<div class="accordion-item">
					<button id="accordion-button-5" aria-expanded="false">What is the highlight of the Bosch motor used in the
						electric vehicle. Why is Bosch important or so much highlighted?
						<span class="icon" aria-hidden="true"></span></button>
					<div class="accordion-content">
						<p>EeVe electric scooters has a Bosch motor of 250W power. Bosch motors are of the highest quality and that
							is one of the
							reasons we are confident enough to give a warranty of 5 years.
							We have covered more on the <a
								href="https://blog.eeveindia.com/how-is-bosch-motor-the-best-in-class-for-electric-scooters/">importance
								of Bosch motors here.</a>
						</p>
					</div>
				</div>
				<div class="accordion-item">
					<button id="accordion-button-5" aria-expanded="false">How do I know the no. of kms which is left when an electric vehicle is in motion?
						<span class="icon" aria-hidden="true"></span></button>
					<div class="accordion-content">
						<p>Battery percentage is shown on the dashboard of the electric scooter.
						An approximate km that the electric scooter can travel is displayed on the electronic display. The value is based on the
						sensor data.
						</p>
					</div>
				</div>
			</div>

		</div>
	</section>

</div>