<div class="body-wrapper">
  <section class="full-page home-banner">
    <div class="home-banner-image">
      <img src="assets/images2/home/bike.png" data-aos="zoom-in" data-aos-duration="3000" alt="">
    </div>
    <div class="home-banner-content">
      <p class="animated fadeIn delay-2s">RIDE INTO THE</p>
      <h1 class="animated fadeIn delay-3s">FUTURE</h1>
    </div>
    <div class="home-banner-bg"></div>
  </section>
  {{!-- <section class="full-page home-banner1">

  </section> --}}
  <section class="home-video">
    <div class="container">
      <h1 class="bg-heading c-white" data-aos="fade-up">India's <span class="heavy-font">fastest growing</span> electric
        scooter company.</h1><br><br>
      <iframe width="791" height="445" src="https://www.youtube.com/embed/mPtCQZiJ7xg" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
  <section class="full-page home-eeve-logo">
    <img src="/assets/images2/home/Rectangle1.png" class="img-fluid" alt="">
    <div class="home-eeve-logo-content" data-aos="fade-left">
      <h1 class="c-white bg-heading">
        <span class="c-green">Live</span>
        <span class="heavy-font">hassle-free</span>,
        <br>with EeVe Scooters
      </h1>
      <p class="c-white home-feature-para">At EeVe India, we believe that electric mobility is the solution to growing
        environmental concerns. For a future that is
        sustainable, clean and safe, we're bringing eco-friendly electric scooters that move the needle for you. The
        latest EeVe
        electric scooters are light, stylish and hassle-free.
      </p>
    </div>
  </section>
  <section class="home-text">
    <h1 class="c-white bg-heading" data-aos="fade-up">EeVe’s <span class="heavy-font">Style</span>, in-built.</h1>
  </section>
  <section class="full-page home-lithium">
    <div class="home-lithium-content" data-aos="fade-right">
      <h1 class="c-white bg-heading">
        EeVe is<span class="heavy-font"> powered</span> with the <br>
        <span class="c-green">best!</span> <span class="heavy-font"></span>
      </h1>
      <p class="c-white home-feature-para">EeVe electric scooters are powered by advanced swappable Lithium Ion
        batteries that ensure you never run out of charge.
        EeVe electric scooters take around 3-4 hours from 0-100 and delivers an amazing range of 75+ kilometres on a
        single
        charge. It's your #RideIntoTheFuture
      </p>
    </div>
    <img src="/assets/images2/home/Rectangle8.png" class="img-fluid" alt="">
  </section>
  {{!-- <section class="home-green">

  </section> --}}
  <section class="home-swapbatteries">
    <div class="home-swapbatteries-content" data-aos="fade-pu">
      <h1 class="c-white bg-heading"><span class="c-green">EeVe’s</span> <span class="heavy-font">swappable</span>
        batteries.</h1>
      <p class="c-white" style="text-align: center;">EeVe enables you with easy re-charging and to
        swap out the drained battery
        with a fully charged battery.</p>
    </div>
  </section>
  <section class="home-stats">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-6">
          <h1 class="bg-heading heavy-font c-white" data-aos="zoom-in">50+</h1>
          <p class="c-green">City presence across India</p>
        </div>
        <div class="col-lg-3 col-6">
          <h1 class="bg-heading heavy-font c-white" data-aos="zoom-in">1500+</h1>
          <p class="c-green">Happy EeVe owners</p>
        </div>
        <div class="col-lg-3 col-6">
          <h1 class="bg-heading heavy-font c-white" data-aos="zoom-in">876K+</h1>
          <p class="c-green">Liters of petrol saved in a year</p>
        </div>
        <div class="col-lg-3 col-6">
          <h1 class="bg-heading heavy-font c-white" data-aos="zoom-in">0</h1>
          <p class="c-green">Emissions in the environment</p>
        </div>
      </div>
    </div>
  </section>
  <section class="home-features">
    <div class="row">
      <div class="col-md-4 noPaddingMargin" class="home-features-left-content">
        <div class="line"></div>
        <div class="home-features-left-content-text" data-aos="fade-right">
          <h1 class="bg-heading c-blue">
            EeVe has <br>much <span class="heavy-font">more</span>.
          </h1>
        </div>

      </div>
      <div class="col-md-8">
        <div class="row home-features-icons">
          <div class="col-lg-4 col-6">
            <img src="/assets/images2/home/iot.png" data-aos="zoom-in" alt="">
            <p class="c-blue"><span class="heavy-font">IOT</span> Enabled</p>
          </div>
          <div class="col-lg-4 col-6">
            <img src="/assets/images2/home/warranty.png" data-aos="zoom-in" alt="">
            <p class="c-blue"><span class="heavy-font">5 Years</span> Warranty</p>
          </div>
          <div class="col-lg-4 col-6">
            <img src="/assets/images2/home/geo.png" data-aos="zoom-in" alt="">
            <p class="c-blue"><span class="heavy-font">Geo</span>-tagging</p>
          </div>
          <div class="col-lg-4 col-6">
            <img src="/assets/images2/home/antitheft.png" data-aos="zoom-in" alt="">
            <p class="c-blue"><span class="heavy-font">Anti-theft</span> Lock</p>
          </div>
          <div class="col-lg-4 col-6">
            <img src="/assets/images2/home/usb.png" data-aos="zoom-in" alt="">
            <p class="c-blue"><span class="heavy-font">USB</span> Port</p>
          </div>
          <div class="col-lg-4 col-6">
            <img src="/assets/images2/home/keyless.png" data-aos="zoom-in" alt="">
            <p class="c-blue"><span class="heavy-font">Keyless</span> Entry</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home-partners">
    <div class="container">
      <h1 class="c-blue bg-heading" data-aos="fade-right">
        Media <span class="heavy-font">Mentions</span>
      </h1><br><br><br>
      <div class="row">
        <div class="col-lg-3 col-6 media">
          <a href="#" target="_blank"><img src="/assets/images2/home/m1.png" class="img-fluid" data-aos="zoom-in"
              alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="#" target="_blank"><img src="/assets/images2/home/m2.png" class="img-fluid" data-aos="zoom-in"
              alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="#" target="_blank">
            <img src="/assets/images2/home/m3.png" class="img-fluid" data-aos="zoom-in" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="#" target="_blank"><img src="/assets/images2/home/m4.png" class="img-fluid" data-aos="zoom-in"
              alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="#" target="_blank">
            <img src="/assets/images2/home/m5.jpg" class="img-fluid" data-aos="zoom-in" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="#" target="_blank">
            <img src="/assets/images2/home/m6.jpg" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="#" target="_blank"><img src="/assets/images2/home/m7.jpg" class="img-fluid" data-aos="zoom-in"
              alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="#" target="_blank"><img src="/assets/images2/home/m8.png" class="img-fluid" data-aos="zoom-in"
              alt=""></a>
        </div>
        <div class="col-lg-3 media">
          <a href="#" target="_blank">
            <img src="/assets/images2/home/m9.png" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="#" target="_blank"><img src="/assets/images2/home/m10.jpg" class="img-fluid" data-aos="zoom-in"
              alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="#" target="_blank"><img src="/assets/images2/home/m11.jpg" class="img-fluid" data-aos="zoom-in"
              alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="#" target="_blank">
            <img src="/assets/images2/home/m12.png" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
      </div>
    </div>
  </section>
  <section class="full-page home-experience">
    <div class="home-experience-content">
      <h1 class="bg-heading c-white" data-aos="fade-down">
        <span class="heavy-font">Experience</span> a ride into the <span class="c-green">future</span>.
      </h1>
      <p class="c-white" data-aos="fade-up">Visit your nearest experience center today. We'll keep you <br>
        interested, promise.</p>
      <br>
      <a href="/dealers" class="btn c-green-bg btn-lg" data-aos="fade-up">LOCATE SHOWROOM</a>
      <a href="#testRide" class="btn c-green-bg btn-lg" data-aos="fade-up">BOOK TEST RIDE</a>
    </div>
  </section>
  <section class="home-partners" style="padding-bottom: 20px;">
    <div class="container">
      <h1 class="c-blue bg-heading" data-aos="fade-right">
        Our <span class="heavy-font">Partners</span>
      </h1><br><br><br>
      <div class="row">

        <div class="col-lg-2 col-6">
          <img src="/assets/images2/home/p1.png" data-aos="zoom-in" alt="">
        </div>
        <div class="col-lg-2 col-6">
          <img src="/assets/images2/home/p3.png" data-aos="zoom-in" alt="">
        </div>

        <div class="col-lg-2 col-6">
          <img src="/assets/images2/home/p4.png" data-aos="zoom-in" alt="">
        </div>
        <div class="col-lg-3 col-6">
          <img src="/assets/images2/home/p5.png" data-aos="zoom-in" alt="">
        </div>
        <div class="col-lg-2 col-6">
          <img src="/assets/images2/home/p2.svg" data-aos="zoom-in" alt="" id="digit-img">
        </div>
        <div class="col-lg-2 col-6">
          <br />
          <img src="/assets/images2/home/zest.png" data-aos="zoom-in" alt="">
        </div>
      </div>
  </section>
  <section class="home-partners">
    <div class="container">
      <h1 class="c-blue bg-heading" data-aos="fade-right">
        We are <span class="heavy-font">recognized</span>
      </h1><br><br><br>
      <div class="row">

        <div class="col-lg-2 col-6">
          <img src="/assets/images2/home/gem-logo.png" data-aos="zoom-in" alt="">
        </div>
        <div class="col-lg-3 col-6">
          <img src="/assets/images2/home/startup-india.png" data-aos="zoom-in" alt="">
        </div>
        <div class="col-lg-2 col-6">
          <img src="/assets/images2/home/odisha-startup.png" data-aos="zoom-in" alt="" id="digit-img">
        </div>
      </div>
  </section>

  <section class="testride-top" id="testRide">
    <div class="testride-top-content container" data-aos="fade-right" data-aos-delay="500">
      <h1 class="c-blue bg-heading">
        Get a <span class="heavy-font">test ride</span><br>into the future.
      </h1>
      <p class="c-blue">Fill in your details and we will get in touch <br> with you soon!</p>
    </div>
    <div class="testride-bike">
      <img src="/assets/images2/testRide/windTestRide.png" data-aos="zoom-in" alt="">
    </div>
  </section>
  <section class="testride-form">
    <div class="container">
      <div class="testride-form-fields">
        <form action="https://formspree.io/xbjlqvkk" method="POST">
          <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="name" required>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Email</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name="email" required>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Phone</label>
            <input type="number" class="form-control" id="formGroupExampleInput" name="phone" required>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">State</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name="state" required>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">City</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name="city" required>
          </div>
          {{!-- <div class="form-group">
            <label for="formGroupExampleInput">Location</label>
            <select name="location" class="form-control">
              <option></option>
              <option value="KVR EeVe">KVR EeVe</option>
              <option value="VB EeVe">VB EeVe</option>
              <option value="Varahi EeVe">Varahi EeVe</option>
              <option value="Guda EeVe">Guda EeVe</option>
              <option value="BKR EeVe">BKR EeVe</option>
            </select>
          </div> --}}
          <div class="form-group">
            <label for="formGroupExampleInput2">Model</label>
            <select name="model" class="form-control" required>
              <option value=""></option>
              <option value="Xeniaa">Xeniaa</option>
              <option value="Your">Your</option>
              <option value="Wind">Wind</option>
              <option value="4U">4U</option>
            </select>
          </div>
          <button class="btn btn-sm c-green-bg">Submit</button>
        </form>
      </div>
    </div>
  </section>

</div>
<div id="myModal" class="modal fade autoexpo" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close autoexpo-close" data-dismiss="modal">&times;</button>
        <img src="/assets/images2/home/offer.jpg" class="img-fluid" alt="">
        <a href="/booking" class="btn btn-sm c-green-bg autoexpo-ticket" target="_blank">Book your EeVe</a>
      </div>

    </div>

  </div>
</div>