<!-- Sidebar Page Container -->
<div class="sidebar-page-container shop-page">
  <div class="anim-icons">
    <span class="icon icon-circle-12 wow zoomIn"></span>
    <span class="icon icon-circle-9 wow zoomIn" data-wow-delay="500ms"></span>
    <span class="icon icon-twist-line-3 wow zoomIn" data-wow-delay="800ms"></span>
  </div>

  <div class="auto-container">
    <h1 class="c-green heavy-font">Press Release</h1><br><br><br>
    <div class="clearfix">
      <!--Content Side-->
      <div class="content-side order-3">
        <div class="shop-grid">
          <div class="row">
            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr1.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr1.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr2.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr3.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>
            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr4.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr5.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr6.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr7.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr9.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr10.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr11.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr12.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr13.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr14.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr15.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr16.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

            <!-- News block -->
            <div class="shop-item col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="/assets/images/resource/pr/pr17.jpg" alt="">
                  </figure>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- End Sidebar Container -->



<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html">
  <span class="fa fa-angle-double-up"></span>
</div>
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/countdown.js"></script>
<script src="js/script.js"></script>