<div class="press-release">
  <section class="press-release-top full-page">
    <div class="press-release-top-bg">
      <p>We've been <br> <span class="heavy-font">covered.</span> </p>
      {{!-- <img src="/assets/images2/press/shape.png" class="press-shape" id="press-shape1" alt="">
      <img src="/assets/images2/press/shape.png" class="press-shape" id="press-shape2" alt=""> --}}
    </div>
  </section>
  <section class="home-partners">
    <div class="container">
      <h1 class="c-blue bg-heading" data-aos="fade-right">
        Media <span class="heavy-font">Mentions</span>
      </h1><br><br><br>
      <div class="row">
        <div class="col-lg-3 col-6 media">
          <a href="https://www.bikewale.com/news/45203-eeve-india-unveils-new-electric-motorcycle-and-escooter-at-auto-expo-2020.html"
            target="_blank"><img src="/assets/images2/home/m1.png" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="https://www.businessinsider.in/business/news/eeve-eyes-sale-of-upto-15k-electric-two-wheelers-this-year/articleshow/73988308.cms"
            target="_blank"><img src="/assets/images2/home/m2.png" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="https://www.business-standard.com/article/pti-stories/eeve-eyes-sale-of-upto-15k-electric-two-wheelers-this-year-120020601657_1.html"
            target="_blank">
            <img src="/assets/images2/home/m3.png" class="img-fluid" data-aos="zoom-in" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="https://www.carandbike.com/news/auto-expo-2020-day-2-live-updates-mercedes-v-class-marco-polo-maruti-suzuki-vitara-brezza-petrol-2175653"
            target="_blank"><img src="/assets/images2/home/m4.png" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="https://www.autocarindia.com/news/eeve-electric-scooter-and-bike-to-be-launched-in-june-2020-416050"
            target="_blank">
            <img src="/assets/images2/home/m5.jpg" class="img-fluid" data-aos="zoom-in" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="https://auto.economictimes.indiatimes.com/news/two-wheelers/motorcycles/eeve-india-unveils-e-bike-tesoro-and-retro-e-scooter-forseti/73980793"
            target="_blank">
            <img src="/assets/images2/home/m6.jpg" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="https://www.financialexpress.com/auto/bike-news/auto-expo-2020-eeve-unveils-forseti-high-speed-electric-scooter-tesoro-electric-bike/1859059/"
            target="_blank"><img src="/assets/images2/home/m7.jpg" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="https://indianautosblog.com/eeve-india-unveils-high-end-electric-two-wheelers-live-from-auto-expo-2020-p319719"
            target="_blank"><img src="/assets/images2/home/m8.png" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
        <div class="col-lg-3 media">
          <a href="https://www.outlookindia.com/newsscroll/eeve-eyes-sale-of-up-to-15k-electric-twowheelers-this-year/1728025"
            target="_blank">
            <img src="/assets/images2/home/m9.png" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="http://overdrive.in/news-cars-auto/pressreleases/eeve-india-unveils-high-end-electric-two-wheelers-at-auto-expo-2020/"
            target="_blank"><img src="/assets/images2/home/m10.jpg" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="https://auto.ndtv.com/news/auto-expo-2020-eeve-india-showcases-premium-electric-two-wheelers-2176113"
            target="_blank"><img src="/assets/images2/home/m11.jpg" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
        <div class="col-lg-3 col-6 media">
          <a href="https://www.zigwheels.com/news-features/news/eeve-tesoro-forseti-unveiled-at-auto-expo-2020/37286/"
            target="_blank">
            <img src="/assets/images2/home/m12.png" class="img-fluid" data-aos="zoom-in" alt=""></a>
        </div>
      </div>
    </div>
  </section>
  <section class="press-release-video">
    <div class="container">
      <div class="press-release-video-container">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/kdHUa49YfCg" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="press-release-video-container">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/ZrzafFXKM64" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="press-release-video-container">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/4kHRGhga-L8" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="press-release-video-container">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/0TBxD90wZQY" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>


  </section>
  <section class="press-release-table">
    <div class="container">
      <div class="table-responsive">
        <table class="table table-hover">

          <tbody>
            <tr>
              <td><a
                  href="https://www.jansatta.com/business/car-bike/eeve-india-tesoro-forseti-electric-bike-scooter-launch-june-2020/1317921/"
                  target="_blank">https://www.jansatta.com/business/car-bike/eeve-india-tesoro-forseti-electric-bike-scooter-launch-june-2020/1317921/</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://prajaparkhi.page/article/eevee-indiya-ne-kiya-ilektrik-dopahiya-vaahanon-ka-shubhaarambh/Vp9rOv.html"
                  target="_blank">https://prajaparkhi.page/article/eevee-indiya-ne-kiya-ilektrik-dopahiya-vaahanon-ka-shubhaarambh/Vp9rOv.html</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://auto.hindustantimes.com/auto/news/last-day-last-show-of-auto-expo-2020-a-look-back-at-the-blockbuster-showcases-41581477829852.html"
                  target="_blank">https://auto.hindustantimes.com/auto/news/last-day-last-show-of-auto-expo-2020-a-look-back-at-the-blockbuster-showcases-41581477829852.html</a>
              </td>
            </tr>
            <tr>
              <td><a href="https://www.rushlane.com/eeve-india-electric-tesoro-forseti-launch-12352800.html"
                  target="_blank">https://www.rushlane.com/eeve-india-electric-tesoro-forseti-launch-12352800.html</a>
              </td>
            </tr>
            <tr>
              <td><a href="https://www.jagrantv.com/show/eeve-overview-with-harsh-didwania-in-auto-expo-2020-rc1002980"
                  target="_blank">https://www.jagrantv.com/show/eeve-overview-with-harsh-didwania-in-auto-expo-2020-rc1002980</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://m.republicworld.com/auto-news/bike/auto-expo-2020-eeve-unveils-e-bike-tesoro-and-e-scooter-forseti.html"
                  target="_blank">https://m.republicworld.com/auto-news/bike/auto-expo-2020-eeve-unveils-e-bike-tesoro-and-e-scooter-forseti.html</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.motoroids.com/news/eeve-indias-tesoro-e-bike-and-forseti-electric-scooter-to-debut-in-june/"
                  target="_blank">https://www.motoroids.com/news/eeve-indias-tesoro-e-bike-and-forseti-electric-scooter-to-debut-in-june/</a>
              </td>
            </tr>
            <tr>
              <td><a href="https://www.webbikeworld.com/eeve-launches-two-new-electric-bikes-for-the-indian-market/"
                  target="_blank">https://www.webbikeworld.com/eeve-launches-two-new-electric-bikes-for-the-indian-market/</a>
              </td>
            </tr>
            <tr>
              <td><a href="https://www.ndtv.com/video/auto/news/eeve-launched-two-electric-vehicles-540354"
                  target="_blank">https://www.ndtv.com/video/auto/news/eeve-launched-two-electric-vehicles-540354</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.rideapart.com/articles/397881/electric-scooter-startup-eeve-aims-for-india-e-moto-dominance/"
                  target="_blank">https://www.rideapart.com/articles/397881/electric-scooter-startup-eeve-aims-for-india-e-moto-dominance/</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://tennews.in/auto-expo-2020-checkout-eeve-indias-cutting-edge-two-wheeler-electric-vehicle-electric-bike/"
                  target="_blank">https://tennews.in/auto-expo-2020-checkout-eeve-indias-cutting-edge-two-wheeler-electric-vehicle-electric-bike/</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="http://technwheelz.com/automobile-news/eeve-india-unveils-forseti-e-scooter-and-tesero-e-motorcycle/"
                  target="_blank">http://technwheelz.com/automobile-news/eeve-india-unveils-forseti-e-scooter-and-tesero-e-motorcycle/</a>
              </td>
            </tr>
            <tr>
              <td><a href="https://odishabytes.com/odisha-based-eeve-showcases-electric-two-wheelers-at-auto-expo/"
                  target="_blank">https://odishabytes.com/odisha-based-eeve-showcases-electric-two-wheelers-at-auto-expo/</a>
              </td>
            </tr>
            <tr>
              <td><a href="http://dabangdunia.co/news/automobile/story/168245.html"
                  target="_blank">http://dabangdunia.co/news/automobile/story/168245.html</a>
              </td>
            </tr>
            <tr>
              <td><a href="https://epaper.punjabkesari.in/m5/2546368/Jalandhar-Kesari/Jalandhar-Kesari#page/4/1"
                  target="_blank">https://epaper.punjabkesari.in/m5/2546368/Jalandhar-Kesari/Jalandhar-Kesari#page/4/1</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.jagran.com/automobile/latest-news-auto-expo-2020-eeve-india-unveils-tesoro-and-forseti-retro-electric-vehicles-20011895.html"
                  target="_blank">https://www.jagran.com/automobile/latest-news-auto-expo-2020-eeve-india-unveils-tesoro-and-forseti-retro-electric-vehicles-20011895.html</a>
              </td>
            </tr>
            <tr>
              <td><a href="https://newsd.in/e-vehicle-startup-eeve-aims-larger-pan-india-presence/"
                  target="_blank">https://newsd.in/e-vehicle-startup-eeve-aims-larger-pan-india-presence/</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.prokerala.com/news/photos/e-vehicle-startup-eeve-aims-larger-pan-india-presence-1613370.html"
                  target="_blank">https://www.prokerala.com/news/photos/e-vehicle-startup-eeve-aims-larger-pan-india-presence-1613370.html</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.outlookindia.com/newsscroll/evehicle-startup-eeve-aims-larger-panindia-presence/1729433"
                  target="_blank">https://www.outlookindia.com/newsscroll/evehicle-startup-eeve-aims-larger-panindia-presence/1729433</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://amanindia.page/article/eevee-indiya-ne-aaaito-ekspo-mein-kiya-ilektrik-dopahiya-vaahanon-ka-anaavaran/9kFRxb.html"
                  target="_blank">https://amanindia.page/article/eevee-indiya-ne-aaaito-ekspo-mein-kiya-ilektrik-dopahiya-vaahanon-ka-anaavaran/9kFRxb.html</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.nilnews.com/auto-expo-2020-eeve-india-showcases-premium-electric-two-wheelers-carandbike/amp/?__twitter_impression=true"
                  target="_blank">https://www.nilnews.com/auto-expo-2020-eeve-india-showcases-premium-electric-two-wheelers-carandbike/amp/?__twitter_impression=true</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="http://technwheelz.com/automobile-news/eeve-india-unveils-forseti-e-scooter-and-tesero-e-motorcycle/"
                  target="_blank">http://technwheelz.com/automobile-news/eeve-india-unveils-forseti-e-scooter-and-tesero-e-motorcycle/</a>
              </td>
            </tr>
            <tr>
              <td><a href="https://auto.ndtv.com/news/auto-expo-2020-best-two-wheelers-of-the-show-2176942"
                  target="_blank">https://auto.ndtv.com/news/auto-expo-2020-best-two-wheelers-of-the-show-2176942</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.linkedin.com/pulse/eeve-india-unveils-high-end-electric-two-wheelers-auto-sachdeva"
                  target="_blank">https://www.linkedin.com/pulse/eeve-india-unveils-high-end-electric-two-wheelers-auto-sachdeva</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.updatenews360.com/technology/eeve-india-unveils-new-electric-motorcycle-and-e-scooter-at-auto-expo-2020/"
                  target="_blank">https://www.updatenews360.com/technology/eeve-india-unveils-new-electric-motorcycle-and-e-scooter-at-auto-expo-2020/</a>
              </td>
            </tr>
            <tr>
              <td><a href="https://www.talkingtrendo.com/eeve-unveiled-forseti-electric-scooter-in-india/"
                  target="_blank">https://www.talkingtrendo.com/eeve-unveiled-forseti-electric-scooter-in-india/</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://hindi.drivespark.com/two-wheelers/2020/eeve-india-unveiled-electric-bike-scooter-at-auto-expo-features-price-details/articlecontent-pf66811-010259.html"
                  target="_blank">https://hindi.drivespark.com/two-wheelers/2020/eeve-india-unveiled-electric-bike-scooter-at-auto-expo-features-price-details/articlecontent-pf66811-010259.html</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.newindianexpress.com/business/2020/feb/07/electric-two-wheelers-look-to-make-a-lasting-impression-2100189.html"
                  target="_blank">https://www.newindianexpress.com/business/2020/feb/07/electric-two-wheelers-look-to-make-a-lasting-impression-2100189.html</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://tamil.drivespark.com/two-wheelers/2020/eeve-unveiled-two-electric-two-wheelers-at-auto-expo-2020-020847.html"
                  target="_blank">https://tamil.drivespark.com/two-wheelers/2020/eeve-unveiled-two-electric-two-wheelers-at-auto-expo-2020-020847.html</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.maalaimalar.com/automobile/bike/2020/02/07114418/1284753/Auto-Expo-2020-EeVe-India-Showcases-Premium-Electric.vpf"
                  target="_blank">https://www.maalaimalar.com/automobile/bike/2020/02/07114418/1284753/Auto-Expo-2020-EeVe-India-Showcases-Premium-Electric.vpf</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="http://samacharlahrein.com/business/ev-india-unveiled-state-of-the-art-electric-two-wheelers-e-bike/"
                  target="_blank">http://samacharlahrein.com/business/ev-india-unveiled-state-of-the-art-electric-two-wheelers-e-bike/</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.iamabiker.com/utkarshchaudhary/2020/auto-expo-2020-eeve-india-tesero-forseti-showcased/"
                  target="_blank">https://www.iamabiker.com/utkarshchaudhary/2020/auto-expo-2020-eeve-india-tesero-forseti-showcased/</a>
              </td>
            </tr>
            <tr>
              <td><a href="https://pragativadi.com/eeve-india-unveils-high-end-electric-two-wheelers-at-auto-expo-2020/"
                  target="_blank">https://pragativadi.com/eeve-india-unveils-high-end-electric-two-wheelers-at-auto-expo-2020/</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.motownindia.com/Bureau/Auto-Pit-Bikes/728/EeVe-India-unveils-electric-two-wheelers-at-Auto-Expo-2020-Roy-P-Tharyan"
                  target="_blank">https://www.motownindia.com/Bureau/Auto-Pit-Bikes/728/EeVe-India-unveils-electric-two-wheelers-at-Auto-Expo-2020-Roy-P-Tharyan</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.devdiscourse.com/article/business/864381-eeve-eyes-sale-of-upto-15k-electric-two-wheelers-this-year?amp"
                  target="_blank">https://www.devdiscourse.com/article/business/864381-eeve-eyes-sale-of-upto-15k-electric-two-wheelers-this-year?amp</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.motoroids.com/news/eeve-india-unveils-tesoro-and-forseti-electric-two-wheelers-at-auto-expo-2020/"
                  target="_blank">https://www.motoroids.com/news/eeve-india-unveils-tesoro-and-forseti-electric-two-wheelers-at-auto-expo-2020/</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.samacharjagat.com/news/business/ev-india-unveiled-state-of-the-art-electric-two-wheelers-246112"
                  target="_blank">https://www.samacharjagat.com/news/business/ev-india-unveiled-state-of-the-art-electric-two-wheelers-246112</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.moneycontrol.com/news/technology/auto/auto-expo-2020-live-updates-car-launches-ev-car-photos-maruti-hyundai-mahindra-kia-tata-4911871.html"
                  target="_blank">https://www.moneycontrol.com/news/technology/auto/auto-expo-2020-live-updates-car-launches-ev-car-photos-maruti-hyundai-mahindra-kia-tata-4911871.html</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.bikedekho.com/news/eeve-tesoro-electric-bike-forseti-retro-electric-scooter-unveiled-at-auto-expo-2020"
                  target="_blank">https://www.bikedekho.com/news/eeve-tesoro-electric-bike-forseti-retro-electric-scooter-unveiled-at-auto-expo-2020</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://www.jagran.com/automobile/latest-news-eeve-india-will-showcase-futuristic-electric-two-wheeler-at-auto-expo2020-19998735.html"
                  target="_blank">https://www.jagran.com/automobile/latest-news-eeve-india-will-showcase-futuristic-electric-two-wheeler-at-auto-expo2020-19998735.html</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="http://www.energyinfrapost.com/eeve-india-aims-country-wide-expansion-set-to-participate-in-auto-expo/"
                  target="_blank">http://www.energyinfrapost.com/eeve-india-aims-country-wide-expansion-set-to-participate-in-auto-expo/</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://indianautosblog.com/eeve-india-unveil-electric-sports-bike-retro-scooter-auto-expo-2020-p319646"
                  target="_blank">https://indianautosblog.com/eeve-india-unveil-electric-sports-bike-retro-scooter-auto-expo-2020-p319646</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://m.timesofindia.com/business/india-business/eeve-india-aims-country-wide-expansion-set-to-participate-in-auto-expo/amp_articleshow/73906618.cms"
                  target="_blank">https://m.timesofindia.com/business/india-business/eeve-india-aims-country-wide-expansion-set-to-participate-in-auto-expo/amp_articleshow/73906618.cms</a>
              </td>
            </tr>
            <tr>
              <td><a
                  href="https://auto.economictimes.indiatimes.com/news/two-wheelers/scooters-mopeds/eeve-to-unveil-two-products-at-auto-expo-2020/73897151"
                  target="_blank">https://auto.economictimes.indiatimes.com/news/two-wheelers/scooters-mopeds/eeve-to-unveil-two-products-at-auto-expo-2020/73897151
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html">
  <span class="fa fa-angle-double-up"></span>
</div>
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/countdown.js"></script>
<script src="js/script.js"></script>