<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>EeVe - Ride Into Future</title>
  <meta name="keywords" content="electric bikes, electric bike dealership, electric bike franchisee, two wheeler,
      two wheeler dealership, two wheeler franchisee, dealership, franchisee, business franchise, 2 wheeler dealership, 2 wheeler
      franchisee, two wheeler electric bike dealership, 2 wheeler electric bike dealership, electric bike startup, business ideas,
      business opportunities, business plan, electric bikes in india, electric scooter dealership, electric scooter india, electric
      bike india, electric bike dealership india, electric vehicles, entrepreneur, franchise business, franchise opportunities,
      franchise india, hero scooter, hero scooty, honda bikes, hero bikes, new business ideas, new electric scooter, tvs bikes,
      suzuki bikes, bajaj bikes, vespa scooter, vespa, yamaha scooty." />

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <link rel="icon" href="assets/images/logo.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <style>
    .success-wrapper {
      height: 100vh;
      width: 100%;
      display: table;
      padding-left: 50px;
      padding-right: 50px;
    }

    .success {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  </style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127467406-2"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag("js", new Date())
    gtag("config", "UA-127467406-2")
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '659746651123078');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=659746651123078&ev=PageView&noscript=1(44 B)
    https://www.facebook.com/tr?id=659746651123078&ev=PageView&noscript=1
    " /></noscript>
  <!-- End Facebook Pixel Code -->
  <!-- Pixel Code for https://hotmap.zapapps.io/ -->
  <script async src="https://hotmap.zapapps.io/pixel/davn4ZlUWLcijRFz"></script>
  <!-- END Pixel Code -->
</head>

<body>
  <div class="success-wrapper">
    <div class="jumbotron text-xs-center success">
      <h1 class="display-3">Thank You!</h1>
      <p class="lead"><strong>Please check your email</strong> for further instructions.</p>
      <hr>
      <p>
        Having trouble? <a href="/contact">Contact us</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
      </p>
    </div>
  </div>


  <!--Scroll to top-->
  <div class="scroll-to-top scroll-to-target" data-target="html">
    <span class="fa fa-angle-double-up"></span>
  </div>
  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/validate.js"></script>
  <script src="js/countdown.js"></script>
  <script src="js/script.js"></script>
  <!--Google Map APi Key-->
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDTPlX-43R1TpcQUyWjFgiSfL_BiGxslZU"></script>
  <script src="js/map-script.js"></script>
  <!--End Google Map APi-->
</body>

</html>