<div class="body-wrapper">
  <section class="testride-top">
    <div class="testride-top-content container">
      <h1 class="c-blue bg-heading">
        Get a <span class="heavy-font">test ride</span><br>into the future.
      </h1>
      <p class="c-blue">Fill in your details and we will get in touch <br> with you soon!</p>
    </div>
    <div class="testride-bike">
      <img src="/assets/images2/testRide/windTestRide.png" alt="">
    </div>
  </section>
  <section class="testride-form">
    <div class="container">
      <div class="testride-form-fields">
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Email</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Phone</label>
            <input type="text" class="form-control" id="formGroupExampleInput">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">State</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">City</label>
            <input type="text" class="form-control" id="formGroupExampleInput">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Model</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
          </div>
          <button class="btn btn-sm c-green-bg">Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>