<div class="body-wrapper">
  <section class="wind-top full-page">
    <div class="row">
      <div class="col-lg-6 c-black-bg wind-top-section">
        <h1><span class="heavy-font">Ride</span> less</h1>
      </div>
      <div class="col-lg-6 c-green-bg wind-top-section">
        <h1><span class="heavy-font">Fly</span> more</h1>
      </div>
    </div>
    <img src="/assets/images2/wind/windfront.png" alt="">
  </section>
  <section class="wind-top-2">
    <div class="row">
      <div class="col-lg-6 c-green-bg wind-top-section noPaddingMargin wind-back">
        <img src="/assets/images2/wind/wind2.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 c-black-bg wind-top-section wind-desc">
        <div class="wind-desc-content">
          <h1>EeVe Wind <br> wins <span class="heavy-font">hearts.</span></h1><br><br>
          <p class="c-white lg-para">Style <br>comfort <br>& a brilliant ride</p><br>
          <p class="c-white lg-para heavy-font">- every time.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="wind-keyless">
    <div class="container">
      <div class="wind-keyless-content">
        <h1 class="bg-heading">Get. Set. <span class="c-green">EeVe!</span></h1>
        <p class="lg-para">Switch wind on with your remote.</p>
        <img src="/assets/images2/wind/side.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="wind-keyless-content-green"></div>
  </section>

  <section class="wind-bosch">
    <div class="row noPaddingMargin">
      <div class="col-lg-6 right-skew">
        <h1 class="bg-heading c-white">
          Installed with <br>the <span class="heavy-font">best</span>.
        </h1>
        <p class="c-white sm-para"><span class="heavy-font">Power</span> that sets everyride of <br>yours, a class
          apart
        </p>

      </div>
      <div class="col-lg-6 left"></div>
    </div>
  </section>
  <section class="wind-lifestyle">
    <img src="/assets/images2/wind/electrify.jpg" class="img-fluid" alt="">
  </section>
  <section class="wind-brakes">
    <div class="row noPaddingMargin">
      <div class="col-lg-6 right-skew-bl">
        <h1 class="bg-heading c-white">
          <span class="heavy-font">Ultimate</span> utility <br>vehicle!
        </h1><br>
        <p class="c-white sm-para">Mobile draining out of battery? <br>Need faster unlocking?<br>Worried where you last
          parked your scooter?<br>Not anymore! We got you covered. <br>USB Port, Keyless entry, GPS Tracking and more.

        </p>
      </div>
      <div class="col-lg-6 left"></div>
      <div class="col-lg-6 right"></div>
      <div class="col-lg-6 left-skew">
        <h1 class="bg-heading c-white">
          <span class="heavy-font">Disc</span> braking,<br>for better rides.
        </h1><br>
        <p class="c-white sm-para">EeVe electric scooters have increased <br><span class="heavy-font">reliability</span>
          over
          others. </p>
      </div>
    </div>
  </section>
  <section class="color-variant wind-color-variant">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 color-image-container">
          <ul>
            <li class="color-option color-active" data-color="black-wind" id="black-wind"></li>
            <li class="color-option" data-color="red-wind" id="red-wind"></li>
            <li class="color-option" data-color="white-wind" id="white-wind"></li>
          </ul>
          <div>
            <img src="/assets/images2/wind/eeve_wind_black.png" alt="" class="img-fluid bike-variant"
              id="variant-black-wind">
            <img src="/assets/images2/wind/eeve_wind_red.png" alt="" class="img-fluid bike-variant variant-inactive"
              id="variant-red-wind">
            <img src="/assets/images2/wind/eeve_wind_white.png" alt="" class="img-fluid bike-variant variant-inactive"
              id="variant-white-wind">
          </div>
        </div>
        {{!-- <div class="col-lg-4">
          <div class="color-variant-info">
            <h3 class="c-blue"><span class="heavy-font c-green">EeVe</span> Wind</h3>
            <br>
            <small class="c-blue">Ex showroom price</small>
            <h1 class="c-blue">₹54,900</h1>
            <br><br>
            <h6 class="heavy-font c-blue">5 years warranty on vehicle</h6>
            <h6 class="heavy-font c-blue">Assured quality</h6>
            <h6 class="heavy-font c-blue">Smart features included</h6>
          </div>
        </div> --}}
      </div>
    </div>
  </section>
  <section class="specs">
    <div class="container">
      <h1 class="c-white heavy-font">Specification</h1>
      <br>
      <div class="row">
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Motor</p>
          <h3 class="heavy-font c-white">250 Watt</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Battery</p>
          <h3 class="heavy-font c-white">60V 27AH Lead Acid</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Range/Autonomy</p>
          <h3 class="heavy-font c-white">50 to 60 KM</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Tyre Size & Type</p>
          <h3 class="heavy-font c-white">90/100-10 Tubeless</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Brakes</p>
          <h3 class="heavy-font c-white">Front Disc, Rear Drum</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Wheelbase</p>
          <h3 class="heavy-font c-white">1315 mm</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Payload</p>
          <h3 class="heavy-font c-white">140 KG</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">L * W * H</p>
          <h3 class="heavy-font c-white">1795 * 680 * 1070 mm</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Charging Time (hour)</p>
          <h3 class="heavy-font c-white">7 to 8 Hours</h3>
        </div>
        <div class="col-md-4">
          <p class="c-green sm-para noPaddingMargin">Frame</p>
          <h3 class="heavy-font c-white">Tubular frame</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="wind-testride full-page">
    <div class="container">
      <div class="wind-testride-content">
        <h1 class="c-white">RIDE INTO THE</h1>
        <h1 class="h-font heavy-font c-white" style="font-size: 5em;">FUTURE.</h1>
        <p class="c-white lg-para">with <span class="heavy-font">your</span> EeVe.</p>
        <div style="display: inline">
          <a href="/testride" class="btn-link btn btn-sm c-green-bg">TEST RIDE</a>
          <a href="https://drive.google.com/file/d/1HhCBNV203LZ8YWKA7I3nfeqf4dYOrzcA/view?usp=sharing" target="_blank"
            class="btn-link btn btn-sm c-green-bg">BROCHURE</a>
        </div>
      </div>
    </div>
  </section>
</div>